USE [master]
GO
/****** Object:  Database [QualishTest]    Script Date: 6/29/2020 10:54:20 AM ******/
CREATE DATABASE [QualishTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QualishTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QualishTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QualishTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QualishTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QualishTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QualishTest]
GO
/****** Object:  Table [dbo].[AppointmentImportances]    Script Date: 6/29/2020 10:54:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentImportances](
	[importanceId] [int] IDENTITY(1,1) NOT NULL,
	[importanceName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[importanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 6/29/2020 10:54:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointmentId] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](30) NOT NULL,
	[appointmentDate] [date] NOT NULL,
	[startTime] [time](7) NOT NULL,
	[endTime] [time](7) NOT NULL,
	[appointmentTypeId] [int] NOT NULL,
	[importanceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppointmentTypes]    Script Date: 6/29/2020 10:54:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentTypes](
	[appointmentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[appointmentTypeName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[appointmentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([appointmentTypeId])
REFERENCES [dbo].[AppointmentTypes] ([appointmentTypeId])
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD FOREIGN KEY([importanceId])
REFERENCES [dbo].[AppointmentImportances] ([importanceId])
GO
USE [master]
GO
